@import 'tailwindcss';
@plugin "tailwindcss-logical";

@theme {
  --color-scheme: dark;
  --color-brand: #ded421;
  --color-background: #000;
  --color-foreground: #fff;
  --color-danger: #ff4d4d;
}

html {
  color-scheme: dark;
  background: var(--color-background);
  color: var(--color-foreground);
}

@utility btn-base {
  @apply rounded-md px-4 py-2 outline-none cursor-pointer flex items-center justify-center gap-2;
}

@utility btn-flat {
  @apply btn-base hover:bg-foreground/20 focus-visible:bg-foreground/20;
}

@utility btn-icon {
  @apply btn-flat aspect-square p-2;
}

@utility btn-secondary {
  @apply btn-base bg-foreground/10 hover:bg-foreground/20 focus-visible:bg-foreground/20 text-foreground;
}

@utility btn-primary {
  @apply btn-base bg-foreground/80 hover:bg-foreground focus-visible:bg-foreground text-background;
}

@utility btn-brand {
  @apply btn-base bg-brand/80 hover:bg-brand focus-visible:bg-brand text-background;
}

@utility btn-danger {
  @apply btn-base bg-danger/80 hover:bg-danger focus-visible:bg-danger text-background;
}

@utility full-page-size {
  block-size: calc(100dvb - --spacing(14));
}

:root {
  --card-aspect-ratio: 1.586;
}

/* Custom scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: --alpha(var(--color-foreground) / 30%) transparent;
}

*::-webkit-scrollbar {
  inline-size: --spacing(2);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-foreground/30;
  border-radius: --spacing(1);
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-foreground/45;
}

*::-webkit-scrollbar-button {
  display: none;
}

/* Input styles */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='color'],
textarea {
  @apply w-full placeholder:text-foreground/40 text-foreground border border-foreground/40 rounded-md px-3 py-2 transition duration-300 ease-[ease] focus:outline-none focus:border-foreground hover:border-foreground shadow-sm focus:shadow;
}

input[type='color'] {
  block-size: calc(1em + --spacing(6.4));
}
